/* General Reset */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
}

#base {
    background-color: #dc8696;
    color: #fff;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

#base:hover {
    background-color: #b8789a;
    
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

@font-face {
  font-family: "Solano Gothic MVB";
  src: url("../assets/fonts/SolanoGothicMVB-Bd.ttf") format("truetype");
  font-weight: 700;
}
